.create-partnership-main-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Inter', sans-serif;
  padding-top: 25px;
  background-color: white;
  min-height: 100vh;
}

.create-partnership-info-title {
  margin-top: 35px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 63px;
  color: #192a3e;
}

.create-partnership-info-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-partnership-info-field {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  color: #707683;
  font-size: 14px;
}

.create-partnership-info-button-container {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: 35px 0px 20px 0px;
  height: 42px;
}

.company-info-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.company-info-form-column1 {
  width: 40%;
  margin-left: 5%;
}

.company-info-form-column2 {
  width: 40%;
  margin-right: 5%;
}

.company-info-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  color: #707683;
  font-size: 14px;
}

.company-info-main-column-container {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

/* 
.create-partnership-info-field-subdomain {
  max-width: 45%;
}

.create-partnership-info-field-policy-url {
  max-width: 40%;
}

.create-partnership-info-field-siteterms-url {
  max-width: 39%;
}

.create-partnership-info-field-cookie-policy {
  max-width: 40%;
}

.materialui-field .MuiFormControl-fullWidth {
  width: 150%;
} */

.create-partnership-info-field .MuiFormControl-marginDense {
  min-width: 250px;
  /* margin-left: 25px; */
}

.company-info-field .MuiFormControl-marginDense {
  min-width: 270px;
}

.create-partnership-info-field .MuiFormControl-marginDense {
  min-width: 270px;
}

.createPartnerShipSelect {
  min-width: 270px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 0 10px;
  height: 40px;
  outline: none;
  color: #707683;
}

.createPartnerShipSelect .MuiSelect-select.MuiSelect-select {
  padding-right: 24px;
  background: transparent !important;
  color: black !important;
}

.createPartnerShipSelect .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: none !important;
}

.company-info-field-address-field
  .MuiOutlinedInput-multiline.MuiOutlinedInput-marginDense {
  min-height: 85px !important;
}
