.flexBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}
.container {
  margin: auto;
  width: 100%;
  padding: 0px 20%;
  color: #02273c;
}
.field {
  margin-bottom: 15px;
  width: 100%;
}
.fieldAlignment {
  display: flex !important;
  align-items: stretch;
}
.error {
  color: red !important;
}
.sendBtn {
  margin-top: 50px !important;
}
.forgotPasswordContent {
  color: #707683;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 50px;
}
.link a {
  color: #4c70e3 !important ;
  background: transparent !important;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize !important;
}
.mailReceiveTxt {
  text-align: center;
  padding: 10px;
  color: #707683;
  font-size: 14px;
}
.mailReceiveTxt button {
  color: #4c70e3 !important ;
  background: transparent !important;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize !important;
}
