.flexBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
}
.container {
  margin: auto;
  width: 100%;
  padding: 0px 20%;
  color: #02273c;
  text-align: center;
}
.link button {
  color: #4c70e3 !important ;
  background: transparent !important;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize !important;
}
.mailReceiveTxt {
  text-align: center;
  padding-bottom: 5px;
}
.verifyTitle {
  font-size: 24px;
  font-weight: 500;
  padding-top: 25px;
}
.mailSent {
  padding: 30px 0;
}
.mail {
  color: #4c70e3 !important ;
  font-weight: 500;
}
.spam {
  color: red;
  font-weight: 500;
}
.verifyTxt {
  font-size: 14px;
  font-weight: 400;
  color: #707683;
}
